Getting Gold dataset

In [1]:
import pandas as pd
import numpy as np
import torch

In [2]:
validation_set=pd.read_csv('train.csv')
validation_set=validation_set[['posting_id', 'label_group']]
print(validation_set)

             posting_id  label_group
0       train_129225211    249114794
1      train_3386243561   2937985045
2      train_2288590299   2395904891
3      train_2406599165   4093212188
4      train_3369186413   3648931069
...                 ...          ...
34245  train_4028265689   3776555725
34246   train_769054909   2736479533
34247   train_614977732   4101248785
34248  train_3630949769   1663538013
34249  train_1792180725    459464107

[34250 rows x 2 columns]

In [11]:
labelled=validation_set.groupby('label_group')
print(labelled.groups)

{258047: [3874, 6738, 31859], 297977: [7613, 12367], 645628: [11716, 14995, 15195, 15610, 17455, 18538, 20122, 21811, 23690, 27972, 31001, 32085], 801176: [4871, 21533], 887886: [13048, 15491], 942089: [22466, 23799], 2942125: [15333, 17609, 31443], 3108272: [8047, 25912], 4063438: [3016, 24709], 4262657: [16420, 23569], 4340963: [25159, 31075], 5029586: [2193, 8250], 5488150: [27795, 33287], 5949579: [11615, 32066], 6381662: [16807, 31925], 7657592: [16616, 29216], 8297881: [2162, 4690], 8660034: [12722, 17991, 21706], 9079959: [10403, 10404, 10405, 10406, 18299, 25275, 31191, 31192], 9784494: [6234, 6398], 9958453: [8890, 9438], 10069919: [842, 28575], 10528187: [9992, 19238], 11497208: [19476, 32144], 11893592: [4308, 34051], 12491276: [7137, 15817, 15818, 15819], 12603075: [10466, 25227], 12910319: [18102, 19685], 13645363: [19247, 30600], 14108831: [23395, 30570, 33254], 15519389: [6391, 12377, 16866, 20484, 23007], 15630034: [2933, 3124, 29569], 15978237: [14863, 25260], 16448490: [2054, 6013, 7177, 7178, 10753, 13635, 30790, 31716], 16856752: [6625, 8643, 17684, 17685, 19332], 16933527: [12640, 12641, 16334, 16442, 17006, 22875, 24894, 24895, 31024, 32204, 33813], 16993220: [19146, 20391], 17378411: [25454, 28004, 30004], 18118282: [5087, 15430, 16355], 18264600: [6444, 6445, 6446, 17108, 30410, 30411], 18580956: [2096, 20406], 18727346: [10390, 34077], 18848931: [1169, 16942], 19273520: [843, 844, 12283, 13951], 19795027: [12828, 24030], 20809221: [2437, 12556, 27140], 21042401: [13396, 25532], 21545740: [11536, 30244, 30674], 21546494: [241, 4271, 10218, 13019, 17955, 24462], 21935057: [19941, 29346], 22285547: [2240, 3638, 4373, 11364, 11476, 15570, 22065, 25145, 27115, 27553, 27955, 31794, 32510], 23125363: [14921, 27606], 23421708: [22382, 25389], 23704672: [1197, 19300], 23934911: [21155, 26321], 23947098: [27976, 33465], 24168270: [8841, 9969, 10423, 13161, 18839, 24158, 32118], 24291636: [22528, 27655, 31942], 24520367: [4426, 19824], 24524049: [8709, 19072], 25788160: [12677, 18006, 19292, 19293], 25802082: [25246, 27542, 29449, 30719], 26005029: [3045, 14831], 27092795: [3844, 33030], 27537526: [10051, 11379], 27822659: [1005, 18709], 27987080: [3921, 14421], 28126024: [2044, 18064], 29498519: [1541, 1542, 14094], 29855676: [6425, 22432, 24205], 30463448: [27494, 33670], 30522919: [5703, 26193, 28674], 30540373: [26875, 33198], 30633790: [1551, 13104, 22647, 25273], 30737591: [1935, 20890], 30796165: [15655, 27504], 30914355: [12426, 22766], 30966706: [1059, 10828, 33891, 33892], 31311537: [10457, 22745, 23972], 32403559: [21051, 24412, 32014], 32947336: [4763, 11992, 14130, 20010, 21986], 32960388: [2945, 2946, 2947, 2948, 8354, 9140, 21021, 25509, 27165, 30431, 30432, 33513], 32998657: [11779, 21338], 33000780: [3985, 6938], 33081792: [8249, 10987, 18495], 33999540: [3754, 13463, 14277, 24146], 34015177: [2587, 5227, 6496, 8540, 16177], 34039445: [2968, 31509], 34091032: [4723, 18247], 35254803: [928, 1130, 7379, 14121, 16911, 22304, 22372, 23343, 23527, 26550, 27897, 29784], 35336103: [14551, 15652, 21359], 35594944: [4909, 19592], 36420824: [16410, 27856], 36603442: [9544, 14804, 17422], 36971936: [22463, 24300], 37319298: [13832, 13833, 27005], 37409772: [27149, 29529], 37526516: [14618, 21963, 24706], 37661312: [2472, 13124, 21084, 32722, 32723], 38185708: [10081, 26124], ...}

In [22]:
matches=[]
for i in range(len(validation_set)):
  matches.append(labelled.get_group(validation_set['label_group'][i]).posting_id.values)

In [23]:
print(len(matches))

34250

In [25]:
gold=validation_set[['posting_id']]
gold['matches']=matches

In [28]:
gold[:10]

         posting_id                                            matches
0   train_129225211                [train_129225211, train_2278313361]
1  train_3386243561               [train_3386243561, train_3423213080]
2  train_2288590299               [train_2288590299, train_3803689425]
3  train_2406599165               [train_2406599165, train_3342059966]
4  train_3369186413                [train_3369186413, train_921438619]
5  train_2464356923  [train_2464356923, train_2753295474, train_305...
6  train_1802986387  [train_1802986387, train_1396161074, train_713...
7  train_1806152124               [train_1806152124, train_3227306976]
8    train_86570404  [train_86570404, train_2837452969, train_77364...
9   train_831680791                [train_831680791, train_3031035861]

In [29]:
gold.to_csv("gold.csv")